/* Shared (mostly)*/

@font-face {
  font-family: "utmtimes";
  src: url("../fonts/utmtimes.ttf"), url("../fonts/utmtimesitalic.ttf"), url("../fonts/utmtimesbold.ttf"), url("../fonts/utmtimesbolditalic.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: utmtimes;
  font-size: 18px;
  background-color: slategrey;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: currentColor;
}

a:visited {
  color: currentColor;
}

a:not(.active) {
  transition: color 0.1s linear;
}

.main {
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* everything Header  */

.mainHeader {
  background: white;
  display: flex;
  height: 14rem;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

/* everything Navbar */

.mainNav {
  background: white;
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: space-evenly;
  padding: 4rem 0.5rem 2.5rem;
  transition: all 0.5s ease-out;
  z-index: 20;
}

.mainNav>div {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 18%;
}

.mainNav a {
  padding: 0.6rem 0.2rem;
}

.mainNav a:hover {}

.mainNav a.active {
  border-bottom: 2px solid #4472c4;
}

.dynamicNav {
  position: fixed;
  top: -5rem;
}

.fixedNav {
  top: 0;
  position: fixed;
}

.navLogo {
  height: 3rem;
  width: 11.5rem;
  background-image: url("../images/feydin_logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}