/* ----------- Shared (mostly) ------------- */

@font-face {
  font-family: "utmtimes";
  src: url("../fonts/utmtimes.ttf"), url("../fonts/utmtimesitalic.ttf"), url("../fonts/utmtimesbold.ttf"), url("../fonts/utmtimesbolditalic.ttf");
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: utmtimes;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: currentColor;
}

#main {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  height: 100%;
  text-align: center;
}

li {
  list-style: none;
}

/* ---------- everything Navbar --------------*/

.mainNav {
  background: white;
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: space-around;
  padding: 4rem 0.5rem 2.5rem;
  z-index: 20;
}

.mainNav>div {
  display: flex;
  width: 60%;
  justify-content: space-around;
  align-items: center;
  margin-right: 18%;
}

.mainNav a {
  padding: 0.6rem 0.2rem;
}

.mainNav a {
  position: relative;
  display: flex;
  justify-content: center;
}

.mainNav a:before {
  content: "";
  width: 0;
  border-bottom: solid 2px #4472c4;
  position: absolute;
  bottom: 0;
  left: auto;
  right: auto;
  transition: all 0.3s cubic-bezier(.72, .86, .03, .97);
}

.mainNav a:hover:before, .mainNav li.active a:before {
  width: 110%;
}

.dynamicNav {
  position: fixed;
  top: -20rem;
  transition: all 0.3s ease-out;
}

.fixedNav {
  top: 0;
  position: fixed;
  padding: 1rem 0.5rem 1rem;
}

.navLogo {
  height: 3rem;
  width: 11.5rem;
  background-image: url("../images/feydin_logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

/* everything Footer */

.mainFooter {
  width: 100%;
  background-image: linear-gradient(#00000000, #323e45 5%);
  padding: 1rem 1rem 1px;
  color: white;
}

.mainFooter a {
  color: white;
}

.mainFooter a:hover {
  color: #65bdd1;
}

.footerTabs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.footerTabs>div {
  width: 30%;
  color: white;
}

/* --------------------- Main pages ----------------------------------- */

.videoTitle {
  position: relative;
}

.videoTitle h2 {
  position: absolute;
  color: white;
  font-weight: bold;
}

.videoOverview h2 {
  top: 10%;
  left: 15%;
}

.videoSalesPerformance h2 {
  top: 20%;
  left: 50%;
}

.videoYourStrategy {
  justify-content: center;
  display: flex;
}

.videoYourStrategy h2 {
  top: 45%;
}

.videoOurInsights h2 {
  top: 30%;
  left: 60%;
}

.videoTitle video {
  width: 100%;
}

.insightContent{
  width: 80%;
  margin: 0 auto;
}

.contactContent {
  display: flex;
  text-align: left;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
}

.contactContent>div {
  display: flex;
}

.contactContent>div>* {
  width: 50%;
}

.contactText {
  padding: 0 1rem;
}

.contactPic img {
  width: 100%;
  height: 100%;
}

.contactText.franchisees p {
  font-size: 16px
}

.contactText.franchisees h2 {
  text-align: center;
}

.contactText.feydinInfo {
  font-size: 22px;
}